<div class="row">
    <div class="col-12">
        <form action="">
            <div class="row">
                <div class="col-6 form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" />
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label for="amount">Amount</label>
                    <input class="form-control" id="amount" />
                </div>
            </div>           
            <div class="btn-group" role="group" aria-label="Button group">
                <button type="submit" class="btn btn-success">Add</button>
                <button class="btn btn-danger">Delete</button>
                <button type="reset" class="btn btn-primary">Clear</button>
            </div>

        </form>
    </div>
</div>