<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmitForm(f)" #f="ngForm">
            <div class="row">
                <div class="col-6 form-group">
                    <label for="name">Name</label>
                    <input type="text" (blur)="isChangesSaved()" class="form-control" name="name" ngModel required />
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" name="amount" ngModel required (blur)="isChangesSaved()"/>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-success" [disabled]="!f.valid" type="submit">{{editMode?"Update":"Add"}}</button>
                <button *ngIf="editMode" class="btn btn-danger" type="button" (click)="deleteIngredient()">Delete</button>
                <button class="btn btn-primary" type="button" (click)="resetForm()">Clear</button>
            </div>
        </form>
    </div>
</div>